body{
    text-align: center;
}
h1{
    color: white;
}
header{
    background-color: rgb(101, 98, 98);
    height: 100px;
    padding: 20px;
}
ul li{
    display: inline;
    color: burlywood;
    padding: 20px;
}
ul li a{
    color: bisque;
    text-decoration: none;
}
#home img{
    height: 25%;
    width: 25%;
    border-radius: 50%;
}
#portfolio{
    background-color: burlywood;
}
footer{
    background-color: #333;
    height: 20px;
}